main {
    padding: 8px;
    border-radius: 8px;
    background-color: #fd343332;
}

h1 {
    text-align: center;
}

footer {
    padding: 4px;
    border-radius: 6px;
    background-color: #fd343332;
    margin-top: 250px;
}

p {
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}
